.manage-specialty-container {
    padding: 0 15px;

    .ms {
        &-title {}
    }

    .add-new-specialty {
        .form-group {
            input {
                display: block;
            }
        }

        .btn-save-specialty {
            border          : none;
            background-color: #fff04b;
            padding         : 8px 5px;
            min-width       : 75px;
            border-radius   : 3px;
            margin          : 15px 0;
        }
    }


    .all-specialty {}
}