div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000 !important;
    }
}

.manage-patient-container {
    .m-p-title {
        font-size     : 15px;
        margin        : 10px 0;
        text-align    : center;
        text-transform: uppercase;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {

            tbody {
                tr {
                    height    : 55px;
                    transition: all .25s ease;

                    &:hover:not(:first-child) {
                        background-color: #f5f5f5;
                    }
                }

                th {
                    color      : #20262D;
                    font-weight: 500;
                    position   : relative;
                    min-width  : 80px;


                    &:first-child {
                        width       : 80px;
                        text-align  : center;
                        padding-left: 0;
                    }

                    & .btn-sort {
                        display  : block;
                        position : absolute;
                        right    : 5px;
                        transform: translateY(-50%);
                        color    : #bfbfbf;
                        cursor   : pointer;
                        font-size: 13px;

                        &:hover {
                            color     : #1890ff;
                            transition: all .25s ease;
                        }

                        &.up {
                            top: 40%;

                        }

                        &.down {
                            top: 60%;
                        }
                    }
                }

                td {
                    &:first-child {
                        width       : 60px;
                        text-align  : center;
                        padding-left: 0;
                    }
                }

                th,
                td {
                    border      : 1px solid rgba(#000, .1);
                    padding-left: 15px;
                }

                .btn {
                    font-family: 'roboto';
                    color      : #fff;
                }

                .mp-btn-confirm {
                    margin-right    : 10px;
                    background-color: #ffc107;
                }

                .mp-btn-remedy {
                    background-color: #ff541f;
                }
            }

        }
    }

    .tab-container {
        box-shadow   : 4px 4px 8px rgba(#000, .3);
        border-radius: 0 6px 6px 6px;

        .modal-tab-header {}

        .content-tabs {
            padding: 15px;
        }

    }

}