.customers {
    width: 100%;

    tbody {
        tr {
            height: 55px;

            &:first-child {
                background-color: #fafafa;
            }

            &:nth-child(n) {
                border-top: 1px solid rgba(#000, .1);
            }
        }
    }
}